.ModalBg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.Modal{
    width: 300px;
    border-radius: 20px;
    background-color: coral;
    padding: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 9999;
}

.TotalPrice{
margin-bottom: 20px;
}

.ModalTitle{
    margin-bottom: 20px;
}